@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');






:root{
    --cor0:#FF91F7;
    --cor1: #49386F;   
    --cor2:#312243;
    --cor3:#5A4EA6;
    --cor4:#787DFD;


    --font-destaque: "Ga Maamli", sans-serif;
    --fonte-padrao:Arial, Verdana, Helvetica, sans-serif;
    
}
*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image:linear-gradient(to bottom,var(--cor2),var(--cor2)) ;
   
    



}
nav{
    background-color: var(--cor2);
    color: white;

}
nav > p{
    color: aliceblue;
    text-shadow:2px 2px 0px rgba(0, 0, 0, 0.226);
}
header{
    min-width:300px; /*propriedade responsiova*/ /*Tamanho minímo que vai ocupar de uma tela*/
    max-width:1000px ;/*propriedade responsiva*/ /*Tamanho maximo que vgai ocupar de uma tela*/
    margin: auto;
    min-height:150px; /*Aumenta o cabeçalho de tamanho*/
}
header  h1{
    font-family: var(--font-destaque);
    text-align: center;
    padding:10px ;
    font-size:3em ;
    background-color: var(--cor2);
    border-radius:10px ;
    text-shadow:2px 2px 0px rgba(0, 0, 0, 0.404);
    color: var(--cor4);

}
header h2{
    font-family: var(--font-destaque);
    font-family: var(--font-destaque);
    text-align: center;
    padding:10px ;
    font-size:2em ;
    background-color: var(--cor2);
    border-radius:10px ;
    text-shadow:2px 2px 0px rgba(0, 0, 0, 0.404);
    color: var(--cor0);
}
header p{
    color: aliceblue;
    background-color: var(--cor4);
    border-radius: 10px;
    text-align: center;
    padding:10px; /*Espaçamento do texto para borda da lateral*/
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.356) ;
    margin-bottom:30px;
    border-bottom-left-radius: 10px;/*borda na esquerda em baixo*/
    border-bottom-right-radius:10px; /*borada na direita em baixo*/
    font-family: var(--fonte-padrao);

}
header img{
    text-align: center;
    border-radius:20px ;
    box-shadow:5px 5px 5px 5px rgba(0, 0, 0, 0.466);
    text-align: center;
  
    
}

nav a {
    background-color: var(--cor0);
    color:white;
    text-align: center;
    padding:10px ;
    border-radius:10px ;
    text-shadow:2px 2px 0px rgba(0, 0, 0, 0.226);
    text-decoration: none;
   margin:1px ;
  
    



}
nav a:hover{
    transition-duration:1s ;
    background-color: var(--cor4);
    

}
nav{
    text-align: center;
    padding:10px ;
    border-radius:10px ;
}
main{
    min-width:300px; /*propriedade responsiova*/ /*Tamanho minímo que vai ocupar de uma tela*/
    max-width:1000px ;/*propriedade responsiva*/ /*Tamanho maximo que vgai ocupar de uma tela*/
    margin: auto;
   
}
main h1{
    font-family: var(--font-destaque);
    text-align: center;
    padding:10px ;
    font-size:3em ;
    background-color: var(--cor2);
    border-radius:10px ;
    text-shadow:2px 2px 0px rgba(0, 0, 0, 0.404);
    color: var(--cor4);
}


main  h2{
    font-family: var(--font-destaque);
    font-family: var(--font-destaque);
    text-align: center;
    padding:10px ;
    font-size:2em ;
    background-color: var(--cor4);
    border-radius:10px ;
    text-shadow:2px 2px 0px rgba(0, 0, 0, 0.404);
    color: var(--cor0);
    
    
}

main h3{
    font-family: var(--font-destaque);
    font-family: var(--font-destaque);
    text-align: center;
    padding:10px ;
    font-size:2em ;
    border-radius:10px ;
    text-shadow:2px 2px 0px rgba(0, 0, 0, 0.404);
    color: var(--cor4);
}

main p{
    text-indent:30px ;
   line-height:1em ;
   font-size: 1.1em;
  font-family: var(--fonte-padrao);
}
main img{
    text-align: center;
    border-radius:20px ;
    box-shadow:5px 5px 5px 5px rgba(0, 0, 0, 0.466);
   
}



article p{
    color: aliceblue;
    background-color: var(--cor4);
    border-radius: 10px;
    text-align: center;
    padding:10px; /*Espaçamento do texto para borda da lateral*/
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.356) ;
    margin-bottom:30px;
    border-bottom-left-radius: 10px;/*borda na esquerda em baixo*/
    border-bottom-right-radius:10px; /*borada na direita em baixo*/
    font-family: var(--fonte-padrao);
    font-size:20px ;

}

footer a{
    text-decoration: none;

}
footer > p > a{
   
    padding:5px ;
    border-radius:10px ;
    margin:5px ;
    text-shadow:2px 2px 0px rgba(0, 0, 0, 0.226);
    font-size:0.9em ;
    color:white;
    background-color: var(--cor0);
    color: aqua;
   
   
   

}
.pagina{
    height:10px ;
    height:10px ;
    border-radius:10px ;
    text-align: right;
   
   
  
   
}
.detalhes{
   
    background-color: var(--cor1);
   
}
.principal{
    
   background-color: var(--cor1);
   
    padding:5px ;
    border-radius:10px ;
    margin:5px ;
    text-shadow:2px 2px 0px rgba(0, 0, 0, 0.226);
    font-size:0.8em ;
}
.voltar{
    height:10px ;
    height:10px ;
    border-radius:10px ;
   text-align: start;
   

}
div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px; /*colar fora, deixar sem espaço livre* -20 pra colar na esquerda*/
    padding: 20px;/*aumenta o tamanho do bloco onde está o vídeo*/
    padding-bottom:59% ; /*ajuda a diminuir a barra preta do v;ideo*/
    position: relative;

}
div.video > iframe{
    position: absolute;
    top:2% ; /*distancia do video perto da borda final*/
    left:2% ; /*parte esquerda da dica de cima*/
    width:96% ;
    height:95% ;
}
.menu-principal{
   
   background-color: var(--cor1);
    color: aqua;
    padding:10px ;
    text-align: left;
    width:10px ;
    height:10px ;
}